[user]
	email = rafael@sachetto.com.br
	name = Rafael Sachetto
[url "git@github.com:"]
	insteadOf = https://github.com/
[filter "lfs"]
	clean = git-lfs clean -- %f
	smudge = git-lfs smudge -- %f
	process = git-lfs filter-process
	required = true
[init]
	defaultBranch = main
[rerere]
	enabled = true
[diff]
	submodule = log
[core]
	editor = nvim
